body {
	background-color: #000;
	color: #eee;
	font-family: 'Play', serif;
}

a, a:visited, a:active {
	color: #08a;
	text-decoration: none;
}
a:hover {
	color: #0ae;
	text-decoration: underline;
}

#wrap {
	width: 1000px;
	margin: auto;
	margin-top: 25px;
}

#wrap #content {
	width: 750px;
	background-color: #111;
	padding: 15px;
	float: right;
}

#wrap #content p {
	line-height: 1.5;
}

#wrap #nav {
	float: left;
	width: 175px;
}

#wrap #nav div.nav {
	width: 175px;
	background-color: #111;
	padding: 15px;
	margin-bottom: 15px;
}

table#lab {
	border-collapse: collapse;
	border: 1px solid #000;
}
#lab th {
	padding: 5px;
}
#lab td {
	border: 1px solid #000;
	padding: 5px;
}
#lab tr.staff td {
	color: #888;
}

input {
	background-color: #111;
	color: #eee;
	border: 1px solid #eee;
}
