<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>pyc</title>
	<link href="/static/style.css" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Play" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrap">
	<div id="content">
{% block body %}{% endblock %}
	</div>
	<div id="nav">
		{% load cache %}
		{% cache 30 nav %}
		<div class="nav">
			<a href="{% url "grader.views.index" %}">Home</a>

			<p>Labs:</p>
			<ol>
			{% for lab in labs %}
				<li><a href="/lab/{{ lab.id }}/">{{ lab.name }}</a></li>
			{% endfor %}
			</ol>

			<a href="{% url "grader.views.faq" %}">FAQ</a>
		</div>
		{% endcache %}
		<div class="nav">
			{% if authenticated %}
				<a href="{% url "django.contrib.auth.views.password_change" %}">Change Password</a>
				<br />
				<a href="{% url "django.contrib.auth.views.logout" %}">Logout</a>
			{% else %}
				<a href="{% url "django.contrib.auth.views.login" %}">Login</a>
			{% endif %}
		</div>
	</div>
</div>
</body>
</html>
