{% extends 'base.html' %}
{% block body %}
<ol>
	<li>
How do I submit a solution?
<p>
You need an account. Ask raylu to create you one.
</p>
	</li>

	<li>
I don't know any Python.
<p>
This is more of "learn to code" exercise than a "learn Python" exercise.
Python just happens to be a good first language. In fact, I only want
participants who have little&ndash;to&ndash;no coding experience.
</p>
	</li>

	<li>
Why should I learn Python?
<p>
It's a good first language for
<a href="http://docs.python.org/faq/general.html#is-python-a-good-language-for-beginning-programmers">a</a>
<a href="http://www.stanford.edu/~pgbovine/python-teaching.htm">variety</a>
<a href="http://openbookproject.net/thinkcs/python/english3e/foreword.html">of</a>
<a href="http://openbookproject.net/thinkcs/python/english3e/preface.html">reasons</a>.
</p>
<p>
Learning a programming language helps you understand how your computer works.
Addtionally, it makes learning other programming languages much easier.
</p>
	</li>

	<li>
Which scores are shown on the lab ranking pages?
<p>
Each user's highest score and earliest time with that score are displayed.
</p>
	</li>

	<li>
Am I allowed to look for help on the web?
<p>
Yes.
</p>
	</li>
</ol>
{% endblock %}
