{% extends 'base.html' %}
{% block body %}
<p>
pyc is a way to learn Python through competition.
<br />
Every week, an assignment is given out.
<br />
Submit your code online and be automatically graded and ranked.
<br />
If you are interested, please contact raylu.
</p>
{% endblock %}
