{% extends 'base.html' %}
{% block body %}
Lab {{ lab.id }} due {{ lab.due }} at 11:59:59 PDT (UTC-7):
<br>{{ lab.name }}
<br><a href="/static/lab{{ lab.id }}.py">Download</a> the starter code

<p><table id="lab">
<tr>
	<th>User</th>
	<th>Grade</th>
	<th>Time</th>
</tr>
{% for s in submissions %}
	<tr{% if s.user.is_staff %} class="staff"{% endif %}>
	<td>{{ s.user }}</td>
	<td>
		{% if staff %}
			<a href="/submission/{{ lab.id }}/{{ s.user.id }}/">{{ s.grade }}</a>
		{% else %}
			{{ s.grade }}
		{% endif %}
	</td>
	<td>{{ s.time|date:'H:i:s d/n/Y' }}</td>
	</tr>
{% endfor %}
</table></p>

<p>
<a href="/submit/{{ lab.id }}/">Submit</a> your solution
</p>
{% endblock %}
