{% extends 'base.html' %}
{% load url from future %}

{% block body %}
{% if form.errors %}
<p>Login error.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
<table>
	<tr>
	<td style="text-align: right">{{ form.username.label_tag }}</td>
	<td>{{ form.username }}</td>
	</tr>
	<tr>
	<td style="text-align: right">{{ form.password.label_tag }}</td>
	<td>{{ form.password }}</td>
	</tr>
</table>
{% csrf_token %}

<input type="submit" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
