{% extends 'base.html' %}
{% load url from future %}

{% block body %}
{% if form.errors %}
<p>An error occured.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.password_change' %}">
{% csrf_token %}
<table>
	<tr>
	<td style="text-align: right">{{ form.old_password.label_tag }}</td>
	<td>{{ form.old_password }}</td>
	</tr>
	<tr>
	<td style="text-align: right">{{ form.new_password1.label_tag }}</td>
	<td>{{ form.new_password1 }}</td>
	</tr>
	<tr>
	<td style="text-align: right">{{ form.new_password2.label_tag }}</td>
	<td>{{ form.new_password2 }}</td>
	</tr>
</table>

<input type="submit" value="Change" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
