{% extends 'base.html' %}
{% block body %}

{% if score != None %}
<p>You scored {{ score }}</p>
{% endif %}
{% if err %}
<pre>
{{ err }}
</pre>
{% endif %}

<p>
<form method="POST" enctype="multipart/form-data">
{{ form }}
<br><input type="submit">
{% csrf_token %}
</form>
</p>

<p>
<a href="/lab/{{ lab_id }}/">Back</a> to rankings
</p>
{% endblock %}
